.App {
  height: 100%;
}

.chatbox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 80% 20%;
  grid-column-gap: 20px;
  grid-row-gap: 10px;

  height: 80%;
  width: 80%;
  margin: auto;

  background: grey;
}

.messageBox {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
  outline-style: dotted;
}

.userList {
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
}

.userInput {
  grid-row: 2 / span 1;
  grid-column: 1 / span 3;
}

.alerts {
  grid-row: 3 / span 1;
  grid-column: 1 / span 3;
}